.Invoices {
	padding: 50px 100px
}
.Invoices > h1 {
	display: inline;
}
.Invoices > a > button {
	vertical-align: super;
	margin-left: 10px;

}
.EditInvoicesList{
	display: flex;
	justify-content: space-between;
}

.EditInvoicesList > div > i {
	margin-right: 5px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px;
}

.EditInvoicesList > div > i:hover {
	background-color: black;
	color: white;
	transition: all 300ms;
}

.EditInvoicesList > div > a > i {
	margin-right: 5px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px;
	color: black
}

.EditInvoicesList > div > a > i:hover {
	background-color: black;
	color: white;
	transition: all 300ms;
	text-decoration: none;
}