.Product {
  padding: 50px 100px
}

.Product > h1 {
  display: inline;
}

.Product > button {
  vertical-align: super;
  margin-left: 10px;
}

.EditProductsList{
  display: flex;
  justify-content: space-between;
}

.EditProductsList > div > i {
  margin-right: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.EditProductsList > div > i:hover {
  background-color: black;
  color: white;
  transition: all 300ms;
}